.homepageimage {
    background-image: url("airplane.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 59%;
  }
  
  .homepagetext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .ssilka {
    border:1px solid #ccc;
    background:#eaeaea;
    padding: .2em .75em;
    text-decoration: none;
    }